<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/discover"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!isLoading">{{ place.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" class="ion-no-padding"
        ><ion-img *ngIf="!isLoading" [src]="place.url"></ion-img>
        <div *ngIf="isLoading" text-center class="ion-margin">
          <ion-spinner color="primary" name="bubbles"></ion-spinner>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" text-center>
        <div *ngIf="!isLoading">
          {{ place.descriptions }}
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!isLoading">
      <ion-col size-sm="6" offset-sm="3" padding text-center>
        <p>{{ place.location.address }}</p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!isLoading">
      <ion-col size-sm="6" offset-sm="3" no-padding>
        <ion-img
          (click)="showLocation()"
          role="button"
          class="location-image"
          [src]="place.location.staticMapImageUrl"
        ></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngIf="!isLoading" size-sm="6" offset-sm="3" text-center>
        <ion-button color="primary" (click)="onBookPlace()">
          Book Me
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
