<ion-header>
  <ion-toolbar color="primary">
    <ion-title>recipes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <app-recipes-item
      *ngFor="let recipe of recipes"
      [recipeItem]="recipe"
    ></app-recipes-item>
    <!-- <ion-item
      *ngFor="let recipe of recipes"
      [routerLink]="['/recipes/', recipe.id]"
    >
      <ion-avatar class="ion-margin-end">
        <img [src]="recipe.imageUrl" />
      </ion-avatar>
      <ion-label>{{ recipe.title }}</ion-label>
    </ion-item> -->
  </ion-list>
</ion-content>
