<ion-app>
  <ion-menu menuId="menuId" side="start" type="overlay">
    <ion-header>
      <ion-toolbar>
        <ion-title>PairBNB</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/places/tabs/discover">
            <ion-icon slot="start" name="business"></ion-icon>
            <ion-label> Discover Places</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="bookings">
            <ion-icon slot="start" name="checkbox-outline"></ion-icon>
            <ion-label> Bookings</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item (click)="logout()">
            <ion-icon slot="start" name="exit"></ion-icon>
            <ion-label>Exit</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
    <ion-footer>
      Awesome pizza footer
    </ion-footer>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
